<?xml version="1.0" encoding="utf-8"?>
<manifest>
    <application>
         <activity
            android:name="org.zywx.wbpalmstar.plugin.uexslidepager.SlidePagerActivity"
            android:theme="@style/browser_main_theme"
            android:configChanges="orientation|keyboardHidden|navigation" 
            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>
</manifest>