<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
    <plugin
        className="org.zywx.wbpalmstar.plugin.uexslidepager.EUExSlidePager"
        uexName="uexSlidePager" >
        <method name="openSlidePager" />
        <method name="setCurrentPage" />
        <method name="closeSlidePager" />
    </plugin>
</uexplugins>